<!doctype html>
<html>
<head>
	<script type="text/javascript" src="/homey.js" data-origin="settings"></script>
	<script type="text/javascript" src="assets/vue.js"></script>
	<link rel="stylesheet" href="assets/styles.css">
</head>

<body>

<div id="app">

<h1><img src="assets/timer.svg" /><span data-i18n="settings.timers">Timers</span></h1>
<p>
<ol v-if="timers.length > 0">
	<timer-item
		v-for="timer in timersSorted"
		v-bind:timer="timer"
		v-bind:key="timer.id"
	></imer-item>
</ol>
<em v-else data-i18n="settings.no_active_timers">No active timers.</em>
</p>

<hr>

<h1><img src="assets/stopwatch.svg" /><span data-i18n="settings.stopwatches">Stopwatches</span></h1>
<p>
<ol v-if="stopwatches.length > 0">
	<stopwatch-item
		v-for="stopwatch in stopwatchesSorted"
		v-bind:stopwatch="stopwatch"
		v-bind:key="stopwatch.id"
	></stopwatch-item>
</ol>
<em v-else data-i18n="settings.no_active_stopwatches">No active stopwatches.</em>
</p>

</div>

<script type="text/javascript">
	function onHomeyReady(Homey) {
		Vue.component('timer-item', {
			props: [ 'timer' ],
			template: '<li><span><strong>{{ timer.name.replace(/([^\s]{15})/g, "$1 ") }}</strong><br />{{ $root.niceDuration(Math.max(0, timer.duration)) }}</span><span><button v-on:click="stop">Stop</button></span></li>',
			mounted: function() {
				this._intervalRef = setInterval(() => {
					this.timer.duration = this.timer.duration - 103;
				}, 103);
			},
			beforeDestroy: function() {
				clearInterval(this._intervalRef);
			},
			methods: {
				stop: function(event) {
					Homey.api('DELETE', '/timers/' + this.timer.id);
				}
			}
		});

		Vue.component('stopwatch-item', {
			props: [ 'stopwatch' ],
			template: '<li><span><strong>{{ stopwatch.name.replace(/([^\s]{15})/g, "$1 ") }}</strong><br />{{ $root.niceDuration(stopwatch.duration) }}</span><span><button v-on:click="stop">Stop</button></span></li>',
			mounted: function() {
				this._intervalRef = setInterval(() => {
					this.stopwatch.duration = this.stopwatch.duration + 103;
				}, 103);
			},
			beforeDestroy: function() {
				clearInterval(this._intervalRef);
			},
			methods: {
				stop: function(event) {
					Homey.api('DELETE', '/stopwatches/' + this.stopwatch.id);
				}
			}
		});

		var app = new Vue({
			el: '#app',
			data: {
				timers: [],
				stopwatches: []
			},
			computed: {
				timersSorted: function() {
					return this.timers.sort((timer1, timer2) => timer1.duration > timer2.duration ? 1 : -1);
				},
				stopwatchesSorted: function() {
					return this.stopwatches.sort((stopwatch1, stopwatch2) => stopwatch1.duration > stopwatch2.duration ? 1 : -1);
				}
			},
			methods: {
				refresh: function() {
					var timersGet = new Promise((resolve, reject) => {
						Homey.api('GET', '/timers/', null, (err, body) => {
							if (err) {
								reject(err);
							} else {
								this.timers = JSON.parse(body);
								resolve();
							}
						});
					});
					var stopwatchesGet = new Promise((resolve, reject) => {
						Homey.api('GET', '/stopwatches/', null, (err, body) => {
							if (err) {
								reject(err);
							} else {
								this.stopwatches = JSON.parse(body);
								resolve();
							}
						});
					});
					return Promise.all([timersGet, stopwatchesGet]);
				},
				niceDuration(duration) {
					duration /= 1e3;
					var days = Math.floor(duration / (24 * 3600));
					duration %= (24 * 3600);
					var hours = Math.floor(duration / 3600);
					duration %= 3600;
					var minutes = Math.floor(duration / 60);
					duration %= 60;
					var seconds = duration.toFixed(2);

					var result = seconds.toString().padStart(5, '0');
					if (minutes > 0) {
						result = minutes.toString().padStart(2, '0') + ':' + result;
					}
					if (hours > 0) {
						result = hours.toString().padStart(2, '0') + ':' + result;
					}
					if (days > 0) {
						result = days + Homey.__('settings.days_abbreviation') + ' ' + result;
					}

					return result;
				}
			},
			mounted: function() {
				this.refresh()
					.then(() => {
						// After the first refresh, keep on refreshing to make sure the view is updated
						// even when the events are not properly received.
						setInterval(this.refresh, 5000);

						// Install the event handlers that process real-time events.
						Homey.on('timer_created', (timer) => {
							app.timers.push(timer);
						});

						Homey.on('timer_updated', (timer) => {
							var index = this.timers.length;
							while (index--) {
								if (this.timers[index].id == timer.id) {
									this.timers[index].duration = timer.duration;
									return;
								}
							}
						});

						Homey.on('timer_removed', (timer) => {
							var index = this.timers.length;
							while (index--) {
								if (this.timers[index].id == timer.id) {
									this.timers.splice(index, 1);
									return;
								}
							}
						});

						Homey.on('stopwatch_created', (stopwatch) => {
							this.stopwatches.push(stopwatch);
						});

						Homey.on('stopwatch_updated', (stopwatch) => {
							var index = this.stopwatches.length;
							while (index--) {
								if (this.stopwatches[index].id == stopwatch.id) {
									this.stopwatches[index].duration = stopwatch.duration;
									return;
								}
							}
						});

						Homey.on('stopwatch_removed', (stopwatch) => {
							var index = this.stopwatches.length;
							while (index--) {
								if (this.stopwatches[index].id == stopwatch.id) {
									this.stopwatches.splice(index, 1);
									return;
								}
							}
						});
						
						// Set the app to ready; this removes the loading indicator.
						Homey.ready();
					})
					.catch((error) => {
						console.log(error);
					});
				;
			}
		});
	}
</script>

</body>
</html>