<!doctype html>
<html>
<head>
	<script type="text/javascript" src="/homey.js" data-origin="settings"></script>
	<script type="text/javascript" src="assets/vue.js"></script>
	<link rel="stylesheet" href="assets/styles.css">
</head>

<body>

<div id="app">

<h1><img src="assets/timer.svg" /><span data-i18n="settings.timers">Timers</span></h1>
<ol v-if="timers.length > 0">
	<timer-item
		v-for="timer in timers"
		v-bind:timer="timer"
		v-bind:key="timer.id"
	></imer-item>
</ol>
<em v-else data-i18n="settings.no_active_timers">No active timers.</em>

<h1><img src="assets/stopwatch.svg" /><span data-i18n="settings.stopwatches">Stopwatches</span></h1>
<ol v-if="stopwatches.length > 0">
	<stopwatch-item
		v-for="stopwatch in stopwatches"
		v-bind:stopwatch="stopwatch"
		v-bind:key="stopwatch.id"
	></stopwatch-item>
</ol>
<em v-else data-i18n="settings.no_active_stopwatches">No active stopwatches.</em>

<h1><img src="assets/transition.svg" /><span data-i18n="settings.transitions">Transitions</span></h1>
<ol v-if="transitions.length > 0">
	<transition-item
		v-for="transition in transitions"
		v-bind:transition="transition"
		v-bind:key="transition.id"
	></transition-item>
</ol>
<em v-else data-i18n="settings.no_active_transitions">No active transitions.</em>

</div>

<script type="text/javascript">
	function onHomeyReady(Homey) {
		Vue.component('timer-item', {
			props: [ 'timer' ],
			template:
				'<li>'
					+ '<span><strong>{{ timer.name }}</strong></span>'
					+ '<span><button v-on:click="toggle">{{ timer.running ? Homey.__("settings.pause") : Homey.__("settings.resume") }}</button><button v-on:click="stop">{{ Homey.__("settings.stop") }}</button></span>'
					+ '<span>{{ $root.niceDuration(Math.max(0, timer.duration)) }}</span>'
					+ '<br class="cb">'
				+ '</li>',
			updated: function() {
				this.update();
			},
			mounted: function() {
				this.update();
			},
			beforeDestroy: function() {
				clearInterval(this.interval);
			},
			methods: {
				stop: function(event) {
					Homey.api('DELETE', '/timers/' + this.timer.id);
					var index = app.timers.length;
					while (index--) {
						if (app.timers[index].id == this.timer.id) {
							app.timers.splice(index, 1);
							return;
						}
					}
				},
				toggle: function(event) {
					this.timer.running = !this.timer.running;
					Homey.api('PUT', '/timers/' + this.timer.id, this.timer);
				},
				update: function() {
					if (this.timer.running) {
						if (!this.interval) {
							this.interval = setInterval(() => {
								this.timer.duration = this.timer.duration - 100;
							}, 100);
						}
					} else {
						if (this.interval) {
							clearInterval(this.interval);
							delete(this.interval);
						}
					}
				}
			}
		});

		Vue.component('stopwatch-item', {
			props: [ 'stopwatch' ],
			template:
				'<li>'
					+ '<span><strong>{{ stopwatch.name }}</strong></span>'
					+ '<span><button v-on:click="toggle">{{ stopwatch.running ? Homey.__("settings.pause") : Homey.__("settings.resume") }}</button><button v-on:click="stop">{{ Homey.__("settings.stop") }}</button></span>'
					+ '<span>{{ $root.niceDuration(stopwatch.duration) }}</span>'
					+ '<br class="cb">'
				+ '</li>',
			updated: function() {
				this.update();
			},
			mounted: function() {
				this.update();
			},
			beforeDestroy: function() {
				clearInterval(this.interval);
			},
			methods: {
				stop: function(event) {
					Homey.api('DELETE', '/stopwatches/' + this.stopwatch.id);
					var index = app.stopwatches.length;
					while (index--) {
						if (app.stopwatches[index].id == this.stopwatch.id) {
							app.stopwatches.splice(index, 1);
							return;
						}
					}
				},
				toggle: function(event) {
					this.stopwatch.running = !this.stopwatch.running;
					Homey.api('PUT', '/stopwatches/' + this.stopwatch.id, this.stopwatch);
				},
				update: function() {
					if (this.stopwatch.running) {
						if (!this.interval) {
							this.interval = setInterval(() => {
								this.stopwatch.duration = this.stopwatch.duration + 100;
							}, 100);
						}
					} else {
						if (this.interval) {
							clearInterval(this.interval);
							delete(this.interval);
						}
					}
				}
			}
		});

		Vue.component('transition-item', {
			props: [ 'transition' ],
			template:
				'<li>'
					+ '<span><strong>{{ transition.name }}</strong></span>'
					+ '<span><button v-on:click="toggle">{{ transition.running ? Homey.__("settings.pause") : Homey.__("settings.resume") }}</button><button v-on:click="stop">{{ Homey.__("settings.stop") }}</button></span>'
					+ '<span>{{ $root.niceDuration(transition.duration) }}</span>'
					+ '<br class="cb">'
				+ '</li>',
			updated: function() {
				this.update();
			},
			mounted: function() {
				this.update();
			},
			beforeDestroy: function() {
				clearInterval(this.interval);
			},
			methods: {
				stop: function(event) {
					Homey.api('DELETE', '/transitions/' + this.transition.id);
					var index = app.transitions.length;
					while (index--) {
						if (app.transitions[index].id == this.transition.id) {
							app.transitions.splice(index, 1);
							return;
						}
					}
				},
				toggle: function(event) {
					this.transition.running = !this.transition.running;
					Homey.api('PUT', '/transitions/' + this.transition.id, this.transition);
				},
				update: function() {
					if (this.transition.running) {
						if (!this.interval) {
							this.interval = setInterval(() => {
								this.transition.duration = this.transition.duration + 100;
							}, 100);
						}
					} else {
						if (this.interval) {
							clearInterval(this.interval);
							delete(this.interval);
						}
					}
				}
			}
		});

		var app = new Vue({
			el: '#app',
			data: {
				timers: [],
				stopwatches: [],
				transitions: []
			},
			methods: {
				refresh: function() {
					var timersGet = new Promise((resolve, reject) => {
						Homey.api('GET', '/timers/', null, (err, body) => {
							if (err) {
								reject(err);
							} else {
								this.timers = this.sort(JSON.parse(body));
								resolve();
							}
						});
					});
					var stopwatchesGet = new Promise((resolve, reject) => {
						Homey.api('GET', '/stopwatches/', null, (err, body) => {
							if (err) {
								reject(err);
							} else {
								this.stopwatches = this.sort(JSON.parse(body));
								resolve();
							}
						});
					});
					var transitionsGet = new Promise((resolve, reject) => {
						Homey.api('GET', '/transitions/', null, (err, body) => {
							if (err) {
								reject(err);
							} else {
								this.transitions = this.sort(JSON.parse(body));
								resolve();
							}
						});
					});
					return Promise.all([timersGet, stopwatchesGet, transitionsGet]);
				},
				niceDuration(duration) {
					duration /= 1e3;
					var days = Math.floor(duration / (24 * 3600));
					duration %= (24 * 3600);
					var hours = Math.floor(duration / 3600);
					duration %= 3600;
					var minutes = Math.floor(duration / 60);
					duration %= 60;
					var seconds = duration.toFixed(2);

					var result = seconds.toString().padStart(5, '0');
					if (minutes > 0) {
						result = minutes.toString().padStart(2, '0') + ':' + result;
					}
					if (hours > 0) {
						result = hours.toString().padStart(2, '0') + ':' + result;
					}
					if (days > 0) {
						result = days + Homey.__('settings.days_abbreviation') + ' ' + result;
					}

					return result;
				},
				sort(what) {
					return what.sort((left, right) => left.duration == right.duration ? left.name.localeCompare(right.name) : (left.duration > right.duration ? 1 : -1));
				}
			},
			mounted: function() {
				this.refresh()
					.then(() => {
						// After the first refresh, keep on refreshing to make sure the view is updated
						// even when the events are not properly received.
						setInterval(this.refresh, 5000);

						// Install the event handlers that process real-time events.
						Homey.on('timer_event', (event) => {
							var index = this.timers.length;
							while (index--) {
								if (this.timers[index].id == event.id) {
									if (event.removed) {
										this.timers.splice(index, 1);
									} else {
										this.timers[index].duration = event.duration;
										this.timers[index].running = event.running;
									}
									return;
								}
							}
							if (!event.removed) {
								this.timers.push(event);
							}
						});
						Homey.on('stopwatch_event', (event) => {
							var index = this.stopwatches.length;
							while (index--) {
								if (this.stopwatches[index].id == event.id) {
									if (event.removed) {
										this.stopwatches.splice(index, 1);
									} else {
										this.stopwatches[index].duration = event.duration;
										this.stopwatches[index].running = event.running;
									}
									return;
								}
							}
							if (!event.removed) {
								this.stopwatches.push(event);
							}
						});
						Homey.on('transition_event', (event) => {
							var index = this.transitions.length;
							while (index--) {
								if (this.transitions[index].id == event.id) {
									if (event.removed) {
										this.transitions.splice(index, 1);
									} else {
										this.transitions[index].duration = event.duration;
										this.transitions[index].running = event.running;
									}
									return;
								}
							}
							if (!event.removed) {
								this.transitions.push(event);
							}
						});

						// Set the app to ready; this removes the loading indicator.
						Homey.ready();
					})
					.catch((error) => {
						console.log(error);
					});
				;
			}
		});
	}
</script>

</body>
</html>